{% extends 'interface/base.html' %}

{% block title %}
    Добавление сотрудника
{% endblock %}

{% block content_admin %}
    {% if request.user.is_superuser %}
        <a class="btn btn-outline-dark mb-2 btn-sm" href="{% url 'staff' %}">Назад</a>
        <h1 class="mb-4">Добавление сотрудника</h1>
        <div class="row">
            <div class="col-6">
{#                {% error %}#}
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit" class="btn btn-success">Добавить</button>
                </form>
            </div>
        </div>
   {% endif %}
{% endblock %}